.ant-form-item-control-wrapper {
    width: 100%!important;
}

.custom-profile-gx-media-body{
    line-height: 30px;
    margin-top: 15px;
}

.custom-profile-gx-media-body .ant-input{
    font-size: 13px;
    border-radius: 4px;
}

.user-profile-gx-card .ant-card-head-title{
    margin-bottom: -20px;
}
.gx-media-input-form-details{
    font-size: 13px;
    text-align: justify!important;
}

.user-profile-gx-media-card{
    border-top: 1px solid #d9d9d9;
    margin-top: 5px;
}

.has-error .ant-form-explain, .has-error .ant-form-split {
    color: #f75428!important;
    margin-top: 5px;
}
.required-label-dot {
    color: #f75428!important;
    margin-left: 5px;
}

.gx-change-password-content {
    max-width: 375px;
    width: 94%;
    margin: auto;
    padding: 0px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    font-size: 14px;
}

.gx-password-container{
    padding-bottom: 0;
}

.ant-card-body {
    padding-bottom: 5px;
}

.change-password-btn{
    margin-top: 20px;
}